DB_HOST=db_host
DB_PORT=db_port
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name
PORT=port_number
JWT_SECRET=jwt_secret_key
FRONTEND_URL=frontend_url
NODE_ENV=development_or_production
EXCHANGE_RATE_TTL_HOURS=4
MARKET_PRICE_TTL_HOURS=4
MARKET_INDICES_TTL_HOURS=24
RL_WINDOW_MS=600000
RL_LIMIT_LOW=5
RL_LIMIT_MEDIUM=20
RL_LIMIT_HIGH=30
YAHOO_MAX_CONCURRENCY=2